/* FlexBox設定 */
@media screen and (min-width:1080px) {
    .items02 {
        display: flex;
        flex-direction: row;
    }
    .items02 .item {
        width: 550px;
    }        
}
@media screen and (max-width:1080px) {
    .items01 {
        flex-direction: column;
    }
    .items01 .item {
        width: 550px;
    }
}

/* QRコード用テキストボックス */
#qrText {
    margin: 6px 12px 6px 12px;
    padding: 12px;
    width: 500px;
}
input[type="file"] {
    display: none;
}
label {
    padding: 10px 40px;
    color: #999;
    background-color: #ddd;
    cursor: pointer;
}

/* QRコード用画像入力エリア */
#dragDropArea{
    margin: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border: #ddd dashed 4px;
    min-height: 222px;
    width: 500px;
    text-align: center;
}
#dragDropArea p{
    color: #999;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4em;
}
#dragDropArea .dragDropButtons{
    margin-top: 20px;
    font-size: 12px;
    font-size: 1.2em;
}
.dragDropButtons input{
    margin: auto;
}

#previewArea {
    width:500px;
}

/* QRコード表示エリア */
#resultArea{
    border: #ddd solid 2px;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    min-height: 200px;
    width: 500px;
    text-align: center;
}
#resultArea p{
    color: #999;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4em;
}
#resultArea #errorMessage{
    color: rgb(255, 88, 88);
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4em;
    visibility: hidden;
}

/* フッター */
#footer{
    background-color: #f4f4f4;
    color: #999;
    text-align: left;
    font-size: 14px;
    
    margin: 6px 12px 6px 12px;
    padding: 12px;
    width: 500px;
}
a:link { 
    color: #999; 
}
a:visited { 
    color: #999; 
}
a:hover { 
    color: #999; 
}
a:active { 
    color: #999; 
}

/* ローディング */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
}
.spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    } 100% {
        transform: scale(1.0);
        opacity: 0;
    }
}